.green-color {
    color: #1db954 !important;
}

.black-color {
    color: #191414 !important;
}

.white-color {
    color: #ffffff !important;
}

.green-background {
    background-color: #1db954 !important;
}

.black-background {
    background-color: #191414 !important;
}

.white-background {
    background-color: #ffffff !important;
}
